h1 {
	font-family: 'Lobster';
	padding-left: 15px;
}

body{
	background-color: #15202b;
	color: #f7f7f8;
}

#con {
  font-family: 'Lobster';
}

.btn{
	background: #15202b;
	color: #1da1f2;
	font-weight: bold;
	border: 2px solid #1da1f2;
	border-radius: 10px;
}

.btn:hover{
	background: #1da1f2;
	color: #f7f7f8;
}
#but{
	background: #15202b;
	color: #1da1f2;
	font-weight: bold;
	border: 2px solid #1da1f2;
	border-radius: 10px;
	padding: 4px;
	padding-left: 10px;
	padding-right: 10px;
}

#pin{
	border-radius: 5px;
}

#but:hover{
	background: #1da1f2;
	color: #f7f7f8;
}